<body>
    <div class="container">
        <% cards.forEach(card => { %>
        <div class="row">
            <div class="col card">
                <div class="row-2">
                    Information
                </div>
            </div>
            <div class="col card">
                <div class="row-2">
                    Front Side
                </div>
            </div>
            <div class="col card">
                <div class="row-2">
                    Back Side
                </div>
            </div>
        </div>
        <% }) %>
    </div>
</body>