<body>
    <div class="text-center">
        <% if (typeof user !== 'undefined') { %>
            <h2>Welcome back <%= user.name.first %>!</h2>
        <% } else { %>
            <h2>Welcome!</h2>
            <a href="/users/login">Login</a>
        <% } %>
    </div>
</body>
