<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Agile Web Project</title>
        <link rel="stylesheet" href="/css/styles.css" type="text/css"/>
    </head>

    <body>
        <div id="navigation">
            <div id="title">
                <h1>Agile Web Project</h1>
            </div>
            <div>
                <div class="link">
                    <a href="/">Home</a>
                </div>
                <div class="link">
                    <a href="/decks">My decks</a>
                </div>
            </div>
        </div>
        <%- body %>
    </body>
</html>