<div id="navigation">
    <div class="text-center">
        <h1>Agile Web Project</h1>
    </div>
    <nav class="navbar justify-content-center">
        <a class="nav-item" href="/">Home</a>
        <a class="nav-item" href="/decks">My decks</a>
        <a class="nav-item">My notecards</a>
    </nav>
</div>