.deck-grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    width: 90%;
    margin-left: 5%
}

.deck {
    width: max(30%, 400px);
}

.navbar {
    margin-bottom: 30px;
}

.nav-item {
    width: 150px;
    text-align: center;
}

.nav-link {
    padding: 10px;
    background-color: white;
}

.col {
    text-align: left;
}

.card {
    margin: 5px;
    /*text-align: center;*/
}

.card-footer {
    margin: 0 1px 0 1px;
    background-color: white;
}

#front_text, #back_text {
    resize: none;
    border: none;
}

.card-header {
    height: 50px;
    text-align:center;
}


