.body {
    padding-top: 20px;
    background-color: whitesmoke;
    min-height: 100vh;
    padding-bottom: 10vh;
}

.card-header {
    background-color: white;
}

.card-footer {
    padding-left: 0px;
}

.details {
    width: 55%;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
}

.details > .row > div:first-child {
    font-weight: bold;
}

.card-body > .row {
    padding-bottom: 2px;
}

h2, h4 {
    padding: 5px 0 10px 0;
}

h2, h4, h5 {
    font-weight: bold;
}

.deck-grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    width: 90%;
    margin-left: 5%
}

.deck {
    width: max(30%, 425px);
    min-height: 250px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
}

.deck-grid a, .deck-grid button {
    width: 90px;
}

.create-deck {
    width: 45%;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
}

.nav-item {
    min-width: 100px;
    max-width: 150px;
    text-align: center;
}

.nav-link {
    padding: 10px;
    background-color: white;
}

.col {
    text-align: left;
}

.card {
    margin: 5px;
    /*text-align: center;*/
}

.card-footer {
    margin: 0 1px 0 1px;
    background-color: white;
}

#front_text, #back_text {
    resize: none;
    border: none;
}

.card-header {
    height: 50px;
    text-align: center;
}

.cards-container, .users-container {
    width: 55%;
    margin-top:10px;
    padding: 0;
}

.cards-table {
    background-color: white;
    width: 100%;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
}

/* Single user create, edit, show pages */
.user-container {
    width: 500px;
    padding: 20px 40px 20px 40px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
}

.user-table input {
    width: 100%;
}

.user-table tr, .user-table td {
    border-style: none;
}

.user-table button {
    margin-top: 20px;
    width: 100%;
}

/* Users overview table */
.users-table .bi {
    display: block;
    width: 20px;
    height: 20px;
    color: grey;
    margin-left: 5px;
}

.users-table td:last-child:hover i {
    color: black;
}

/* Study modal */
#study-modal-close-btn {
    float: right;
    width: 20px;
}

.modal-footer button, .modal-footer a {
    width: 20%;
}

.modal-body {
    min-height: 200px;
}

.modal-footer {
    justify-content: center;
}


