.body {
    padding-top: 20px;
    background-color: whitesmoke;
    height: 100vh;
}

.card-header {
    background-color: white;
}

.details {
    width: 55%;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
}

.details > .row > div:first-child {
    font-weight: bold;
}

.card-body > .row {
    padding-bottom: 10px;
}

h2, h4 {
    padding: 5px 0 10px 0;
}

h2, h4, h5 {
    font-weight: bold;
}

.deck-grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    width: 90%;
    margin-left: 5%
}

.deck {
    width: max(30%, 400px);
    min-height: 250px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
}

.create-deck {
    width: 45%;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
}

.nav-item {
    width: 150px;
    text-align: center;
}

.nav-link {
    padding: 10px;
    background-color: white;
}

.col {
    text-align: left;
}

.card {
    margin: 5px;
    /*text-align: center;*/
}

.card-footer {
    margin: 0 1px 0 1px;
    background-color: white;
}

#front_text, #back_text {
    resize: none;
    border: none;
}

.card-header {
    height: 50px;
    text-align: center;
}

.cards-container {
    width: 55%;
    margin-top:10px;
    padding: 0;
}

.cards-table {
    background-color: white;
    width: 100%;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
}


