<button class="study-modal-button btn btn-outline-primary"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#studyModal"
        data-id=<%= deck._id %>
>
    Study
</button>

<div id="studyModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button id="study-modal-close-btn" type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>