<div class="container user-container">

    <h2 class="text-center">Edit account</h2>
    <form method="post" action="/users/<%= user._id %>/edit/password">

        <table class="table user-table">

            <colgroup>
                <col style="width: 100px"/>
                <col style="width: 100px"/>
                <col style="width: 100px"/>
            </colgroup>

            <tr>
                <td colspan="1">
                    <label for="oldPassword">Old password:</label>
                </td>
                <td colspan="2">
                    <input id="oldPassword"
                           name="oldPassword"
                           type="password"
                           autofocus
                    >
                </td>
            </tr>

            <tr>
                <td colspan="1">
                    <label for="newPassword">New password:</label>
                </td>
                <td colspan="2">
                    <input id="newPassword"
                           name="newPassword"
                           type="password">
                </td>
            </tr>

            <tr>
                <td colspan="3">
                    <button style="width: 100%" class="btn btn-primary" type="submit">Change password</button>
                </td>
            </tr>

        </table>
    </form>
</div>
